.pageHeader {
  //  //background-color: #0ec254;
  //  color: pink;
  background: url('/assets/images/img_sub_top_recommend.png');
  height: 160px;
  //height: 40vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  //margin:10px;
  position: relative;
}