.img_sub_top_01 {
  //  //background-color: #0ec254;
  //  color: pink;
  background: url('/assets/images/img_sub_top_01.png');
  height: 140px;
  //height: 40vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  //margin:10px;
  position: relative;
}
.img_sub_top_02 {
  background: url('/assets/images/img_sub_top_02.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_03 {
  background: url('/assets/images/img_sub_top_03.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_04 {
  background: url('/assets/images/img_sub_top_04.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_05 {
  background: url('/assets/images/img_sub_top_05.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_06 {
  background: url('/assets/images/img_sub_top_06.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_07 {
  background: url('/assets/images/img_sub_top_07.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_08 {
  background: url('/assets/images/img_sub_top_08.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.img_sub_top_09 {
  background: url('/assets/images/img_sub_top_09.png');
  height: 140px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}

*:focus { outline: none; }
