.measHeader {
  //  //background-color: #0ec254;
  //  color: pink;
  background: url('/assets/images/ic_list_bg_06.png');
  height: 170px;
  //height: 40vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  //margin:10px;
  position: relative;
}

//canvas {
//  border: 1px solid black;
//  width: 40vw;
//  height: 40vw;
//  margin: auto;
//}
*:focus { outline: none; }