.loginContent {
  background: url('/assets/images/ic_login_bg.png');
  background-color: #cccccc; /* Used if the image is unavailable */
  //height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.label {
  margin: 111px;
}

//.item .item-content {
//  background-color: transparent !important;
//}
ion-list {
  --ion-background-color:transparent;
}
ion-item{
  --ion-background-color:transparent;
}


//ion-toolbar {
//  --border-width: 5px;
//  --border-color: '#F00'
//}


